/* HTML Elements */
body { 
	font-family: 'Ovo', serif;
	font-size: 20px;
	line-height: 26px;
	position: relative;
}
h1 { 
	font-size: 80px; 
	text-align: center;
	font-weight: bolder;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}
nav {
	z-index: 9999999 !important;
	font-size: 16px;
}
a {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration: none;
}

/* Nav bar */
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-brand:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.navbar-brand {
	padding: 12px 12px;
	font-size: 28px;
}


/* Footer */
footer {
	background-color: #f6f6f6;
	color: #777;
	font-size: 14px;
}
footer a { color: #777; }
.footer-content {
	min-height: 200px;
	padding-top: 90px;
	padding-bottom: 90px;
}
.copyright {
	background-color: #3d4a57;
	padding: 20px 0;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.copyright a {
	color: #fff;
}

/* Chart Overrides */
.dc-chart g.row text {
  fill: #000;
}

.dc-chart .axis text {
	font: 10px 'Ovo', serif;
}

.chart-wrapper .chart-title {
	font-weight: bold;
	text-overflow: ellipsis;
}

.y-axis-label, .x-axis-label {
	font-size: 14px;
}

/* Page Header */
.header-bkg {
	background-image: url(/static/images/massachusetts-state-house-bkg.jpg);
	background-position: bottom center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 100px;
	margin-bottom: 50px;
}

/* Show/Hide Help/Reset Buttons */
.show-help-reset-xs {
	display: none;
	visibility: hidden;
}
.show-help-reset-sm {
	display: inline-block;
	visibility: visible;
}

/* Media Query for Phones */
@media only screen and (max-width: 414px) {
	h1 { 
		font-size: 50px;
	}

	.header-bkg {
		background-position: bottom center;
		background-attachment: fixed;
		background-size: cover;
		padding-top: 75px;
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 767px) {
	/* Show/Hide Reset/Help Buttons */
	.show-help-reset-xs {
		display: inline-block;
		visibility: visible;
	}
	.show-help-reset-sm {
		display: none;
		visibility: hidden;
	}
	.help-reset-btn {
		margin-right: 5px;
	}

	/* Footer */
	.copyright {
		text-align: center;
	}
}