<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>School Donations for Massachusetts</title>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ovo" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css') }}" />
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/theme.css') }}" />
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="50">
	<header>
		<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Main Menu -->
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a id="mobile-help-guide" href="javascript:void(0);" onclick="startHelpGuide(0);" class="btn btn-default navbar-btn pull-right show-help-reset-xs help-reset-btn" title="Need Help using the site? Click here for a guided tour." data-toggle="tooltip" data-placement="bottom">
						<i class="fas fa-question-circle"></i>
					</a>
					<a id="mobile-reset-filter" href="javascript:dc.filterAll(); dc.renderAll(); updateSelectCSS();" class="btn btn-default navbar-btn pull-right show-help-reset-xs help-reset-btn" data-toggle="tooltip" data-placement="bottom" title="Restore the charts to their default state.">
						<i class="fas fa-redo"></i>
					</a>
					<a href="/" class="navbar-brand">
						<i class="fas fa-graduation-cap"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="nav navbar-nav">
						<li>
							<a href="#welcome"><i class="fas fa-briefcase fa-fw"></i> Welcome</a>
						</li>
						<li>
							<a href="#charts"><i class="fas fa-chart-pie fa-fw"></i> Charts</a>
						</li>
						<li>
							<a href="#aim"><i class="fas fa-bullseye fa-fw"></i> Our Aim</a>
						</li>
						<li>
							<a href="#how-help"><i class="fas fa-bullhorn fa-fw"></i> How You Can Help</a>
						</li>
						<li>
							<a href="#contact"><i class="fas fa-envelope fa-fw"></i> Contact</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right show-help-reset-xs show-help-reset-sm">
						<li id="reset-filter" data-toggle="tooltip" data-placement="bottom" title="Restore the charts to their default state.">
							<a href="javascript:dc.filterAll(); dc.renderAll(); updateSelectCSS();"><i class="fas fa-redo"></i></a>
						</li>
						<li title="Need Help using the site? Click here for a guided tour." data-toggle="tooltip" data-placement="bottom">
							<a href="javascript:void(0);" onclick="startHelpGuide(0);"><i class="fas fa-question-circle"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<section id="welcome">
			<div class="container-fluid header-bkg">
				<div class="row">
					<div class="container">
						<div class="row row-inner">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<header>
									<h1>School Donations for the State of Massachusetts</h1>
								</header>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="brief">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<article>
							<header>
								<h2>
									Brief
									<a href="javascript:void(0);" onclick="startHelpGuide(2);" class="pull-right">
										<i class="fas fa-question-circle"></i>
									</a>
								</h2>
							</header>
							<p>
								As a candidate for Governor of Massachusetts, nothing is more important to me than education. According to a <a href="https://worldtop20.org/2017-world-best-education-systems-1st-quarter-report" target="_blank" rel="nofollow">World Top 20 Project</a> 2017 report, the US currently ranks 20<sup>th</sup> in the world for education. The aim of this page is to improve public awareness of the level of spending on education in our state, what I plan to do to change it, and how you can help and get involved.
							</p>
							<p>
								The data presented by the various charts below is provided by <a href="https://www.donorschoose.org" target="_blank" rel="nofollow">DonorsChoose.org</a>, a charity set up to help the teachers in our public schools raise money for their classrooms. Using public donations, teachers can supply their students with books, technology or even a educational trip to a museum.
							</p>
							<p>
								The data in the charts below shows the total number of projects created over a 10 year period (between 2006 to 2016), broken down in various categories. Feel free to interact with the charts and filter the data to show the information you are interested in. For example, if you live in the county of <b>Bristol</b>, you can click on Bristol on the <b>Number of Donors by County</b> chart, which will filter all the other charts to just show Bristol's data.
							</p>
						</article>
					</div>
				</div>
			</div>
		</section>
		
		<section id="charts">
			<div class="container spacer">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<header>
							<h2>
								Charts
								<a href="javascript:void(0);" onclick="startHelpGuide(3);" class="pull-right">
									<i class="fas fa-question-circle"></i>
								</a>
							</h2>
						</header>
					</div>
				</div>
			</div>
			<div class="container" id="chartFilters">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title">
										Filter By Year
									</div>
								</header>
								<div class="chart-stage">
									<div id="filter-by-year"></div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title">
										Filter By Poverty Level
									</div>
								</header>
								<div class="chart-stage">
									<div id="filter-by-poverty-level"></div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title">
										Filter By Funding Status
									</div>
								</header>
								<div class="chart-stage">
									<div id="filter-by-funding-status"></div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="step4">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title">
										Total Donations By Year
									</div>
								</header>
								<div class="chart-stage" id="chart1">
									<div id="line-total-donoation-by-year"></div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg4" id="step5">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title">
										Projects by County
									</div>
								</header>
								<div class="chart-stage" id="chart2">
									<div id="row-projects-by-county"></div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg4" id="step6">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title">
										Projects by Focus Area
									</div>
								</header>
								<div class="chart-stage" id="chart3">
									<div id="row-projects-by-focus-area"></div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg4" id="step7">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title">
										Project Resource Types
									</div>
								</header>
								<div class="chart-stage" id="chart4">
									<div id="pie-resource-type"></div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg4" id="step8">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title">
										Projects by Grade
									</div>
								</header>
								<div class="chart-stage" id="chart5">
									<div id="row-projects-by-grade"></div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="container" id="totalRow">
				<div class="row">
					<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 col-md-offset-5">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title text-center">
										Total Projects
									</div>
								</header>
								<div class="chart-stage text-center">
									<div id="total-projects"></div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title text-center">
										Total Donors
									</div>
								</header>
								<div class="chart-stage text-center">
									<div id="total-donors"></div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<section>
							<div class="chart-wrapper">
								<header>
									<div class="chart-title text-center">
										Total Donations
									</div>
								</header>
								<div class="chart-stage text-center">
									<div id="total-donations"></div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>

		<section id="aim">
			<div class="container-fluid our-aim-bkg spacer">
				<div class="row">
					<div class="container">
						<div class="row row-inner">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<header>
									<h2>
										Our Aim
										<a href="javascript:void(0);" onclick="startHelpGuide(12);" class="pull-right">
											<i class="fas fa-question-circle"></i>
										</a>
									</h2>
								</header>
								<p>
									As you can see from the data, there are several areas that are in need of attention. Firstly, the vast majority of all projects are being created in Suffolk county, for example, in 2015 alone they had 1,654 projects and raised over $1.2m for their schools. Where as in Hampshire, in 2015, they had only 8 projects and raised just over $6,100.
								</p>
								<p>
									My first goal would be to increase awareness of <a href="https://www.donorschoose.org" target="_blank" rel="nofollow">DonorsChoose.org</a> in the other counties, by visiting our schools and encouraging the teachers and school officials to list projects they would like to run to improve their lessons and the children's education. 
								</p>
								<p>
									Secondly, as the Project Resource Types chart shows, the vast majority of Project requests are for Supplies or Technology. Schools shouldn't have to beg for the supplies they need to their job. Therefore, I shall push to supply more funding to our schools so they can buy the supplies needed and focus their funding raising efforts on more fun and beneficial projects, such as school trips or arrange guest speakers to visit classes. 
								</p>
								<p>
									Lastly, I shall push for more funding to go towards projects focusing on Health and Sports, and Music and The Arts to encourage kids to be creative and active.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container spacer">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="thumbnail">
							<img src="{{ url_for ('static', filename='images/happy-kids-learning.jpg') }}" alt="Kids Happily Learning" class="img-responsive">
							<div class="caption">
								Keep Kids Happy in School by making sure they have the supplies they need.
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="thumbnail">
							<img src="{{ url_for ('static', filename='images/computer-creative-happy.jpg') }}" alt="Introduce Kids to new technologies" class="img-responsive">
							<div class="caption">
								Introduce Kids to new technologies and encourage creative.
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="thumbnail">
							<img src="{{ url_for ('static', filename='images/help-students-succeed.jpg') }}" alt="Help Students achieve the success the deserve" class="img-responsive">
							<div class="caption">
								Help Students achieve the success the deserve in life.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="how-help">
			<div class="container spacer">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<header>
							<h2>
								How You Can Help
								<a href="javascript:void(0);" onclick="startHelpGuide(13);" class="pull-right">
									<i class="fas fa-question-circle"></i>
								</a>
							</h2>
						</header>
						<p>
							You may be asking, "What can I do to help?". Here are a few ways I believe the community at large can help with education funding:
						</p>
						<ol class="help-list">
							<li>
								<h4>Talk with Teachers</h4>
								Go and see your kids school and chat to their teachers, suggest they make some projects on <a href="https://www.donorschoose.org" target="_blank" rel="nofollow">DonorsChoose.org</a>.
							</li>
							<li>
								<h4>Donate</h4>
								Search the projects on <a href="https://www.donorschoose.org" target="_blank" rel="nofollow">DonorsChoose.org</a> that are running in your area and donate to ones that interest you or will benefit your kids or community the most. Even if you can only donate $1, every little help and if everyone contributes a small amount, it quickly adds up.
							</li>
							<li>
								<h4>Spread the Word</h4>
								Tell your friends and family about projects running in your area. Spread the word about any projects that are currently running on social media, or share this page to help increase peoples awareness, some links are provided below to make sharing this page easier.
								<div id="share"></div>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer id="contact">
		<div class="container-fluid spacer chalkboard-bkg">
			<div class="row">
				<div class="container">
					<div class="row row-inner">
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contact-details">
							<article>
								<header>
									<h2>
										Get in Touch
										<a href="javascript:void(0);" onclick="startHelpGuide(14);" class="pull-right">
											<i class="fas fa-question-circle"></i>
										</a>
									</h2>
								</header>
								<p>
									We'd love to hear from you with any questions or suggestions you may have. Here's how you can reach us.
								</p>
								<ul class="fa-ul">
									<li>
										<span class="fa-li"><i class="fas fa-fw fa-envelope"></i></span><a href="mailto:enquiries@example.com">enquiries@example.com</a>
									</li>
									<li>
										<span class="fa-li"><i class="fas fa-fw fa-mobile-alt"></i></span><a href="tel:0123456789">012 345 6789</a>
									</li>
									<li><span class="fa-li"><i class="fas fa-fw fa-building"></i></span>Address Line 1<br />
										Address Line 2<br />
										Massachusetts<br />
										12345 
									</li>
								</ul>
							</article>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="contact-form">
							<article>
								<header>
									<h2>
										Contact Form
										<a href="javascript:void(0);" onclick="startHelpGuide(15);" class="pull-right">
											<i class="fas fa-question-circle"></i>
										</a>
									</h2>
								</header>
								{% include "contact_form.html" %}
							</article>
						</div>
					</div>
					<div class="row row-inner">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">
							<ul class="list-inline">
								<li>&copy; Justin Robinson 2018</li>
								<li>Data Provided by <a href="https://research.donorschoose.org/t/download-opendata/33" target="_blank" rel="nofollow">DonorsChoose.org</a></li>
								<li>Pictures from <a href="https://pxhere.com/en/">PxHere.com</a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="{{ url_for ('static', filename='lib/js/jquery.min.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
	<script src="{{ url_for ('static', filename='lib/js/d3.js') }}"></script>
	<script src="{{ url_for ('static', filename='lib/js/queue.js') }}"></script>
	<script src="{{ url_for ('static', filename='lib/js/crossfilter.js') }}"></script>
	<script src="{{ url_for ('static', filename='lib/js/dc.js') }}"></script>
	<script src="{{ url_for ('static', filename='lib/js/keen.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.js"></script>
	<script src="{{ url_for ('static', filename='js/graphs.js') }}"></script>
	<script src="{{ url_for ('static', filename='js/help_guide.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('form').submit(function (e) {
				var url = "{{ url_for('submitForm') }}"; // url for form submission.
				$.ajax({
					type: "POST", 
					url: url,
					data: $('form').serialize(), // serializes the form's elements.
					// before sending, disable submit button and clear any existing error messages.
					beforeSend: function() {
						$('#submitContactForm').prop('disabled', true); // disable the submit button.
						$('#status').addClass('hidden').text(''); // hide the status box.
						$('.help-block').text(''); // clear all help blocks of text.
						$('.form-group').removeClass('has-error'); // remove error styles.
					},

					// if form is valid, display status message, then after 6 seconds, display confirmation.
					success: function (data) {
						// display message being sent status.
						$('#status')
							.addClass('alert alert-warning')
							.removeClass('hidden')
							.html('<i class="fas fa-spinner fa-pulse"></i> Your Message is being sent.');

						// set a 6 second delay, then show success message.
						setTimeout(function() {
							$('#status')
								.addClass('alert-success')
								.removeClass('alert-warning')
								.html('<i class="fas fa-check"></i> Your Message sent successfully');
							
							// enable submit button.
							$('#submitContactForm').prop('disabled', false);
						}, 6000);
					},

					// display any validation errors.
					error: function(data) {
						// get error messages.
						var errors = data.responseJSON.data;
						
						// loop through errors and highlight fields.
						for (var key in errors) {
							// create names of labels and form control.
							var _label = '#' + key + '-status'; // error message.
							var _control = '#' + key; // form control.

							// add error class to form controls parent.
							$(_control).parent().addClass('has-error');

							// check if error message has a property, and display.
							if (errors.hasOwnProperty(key)) {
								// display error message.
								$(_label).text(errors[key]);
							}
						}

						// enable the submit button.
						$('#submitContactForm').prop('disabled', false);
					}
				});

				// block the traditional submission of the form.
				e.preventDefault();
			});

			// Inject our CSRF token into our AJAX request.
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
					}
				}
			})
		});
	</script>
</body>
</html>